/* globals.css */
/* Keyframe Animation */
@keyframes fade-in {
  to {
    opacity: 1;
  }
}

/* Global Styles */
* {
  box-sizing: border-box;
}

:root {
  --thumb-w: 80px;
  --thumb-h: 45px;
  --thumbs-px: 10px;
  --thumbs-py: 10px;
  --thumbs-h: calc(var(--thumb-h) + (var(--thumbs-py) * 6));
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #eddede;
  background: url("https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center center no-repeat;
  background-size: cover;
  transition: background-color 1s;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Media Queries */
@media (min-width: 768px) {
  .overlay h1 {
    font-size: 30px;
  }

  .overlay p {
    font-size: 20px;
  }

  #search-form {
    gap: 15px;
  }

  #search-form input {
    font-size: 18px;
  }

  #search-form button {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .overlay h1 {
    font-size: 3.5rem;
  }

  .overlay p {
    font-size: 1.8rem;
  }

  #search-form {
    width: 40%;
  }

  #search-form input,
  #search-form button {
    width: 100%;
  }
}
